@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.x-square {
		background-image: url('/x.svg');
		background-size: 85%;
		background-repeat: no-repeat;
		background-position: center;
	}

	.o-square {
		background-image: url('/o.svg');
		background-size: 85%;
		background-repeat: no-repeat;
		background-position: center;
	}
}
